.inner {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 15px; */
}

.default {
    padding: 100px 0;
}

.default .tit_area {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    /* margin: 0 0 24px 0; */
    /* padding: 0 15px; */
}

.default .tit_area h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 16px 0;
    /* 마진을 아래쪽으로만 주는 원칙을 깬다. */
}

.default .tit_area strong {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 16px 0;
    /* 마진을 아래쪽으로만 주는 원칙을 깬다. */
}

.default .tit_area p {
    margin: 16px 0 24px 0;
}


.default_line {
    position: relative;
    display: block;
    overflow: visible;
    border: none;
    margin: 0;

    border-top: 1px solid #ddd;
}

/* .default_line::after {
    content: "\e5c6";
    font-family: 'Material Symbols Outlined';
    position: absolute;
    top: 0;
    left: 50%;
    padding: 8px;
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 2rem;

    transform: translate(-50%, -50%);
} */


@media (max-width: 768px) {
    .default {
        padding: 60px 0;
    }

    .default .tit_area {
        text-align: center;
    }

    .default .tit_area h2 {
        font-size: 5vw;
    }

    .default .tit_area strong {
        font-size: 5vw;
    }

    .default .tit_area p {
        font-size: 2.5vw;
    }
}