* {
    outline: 1px solid skyblue--;
}

@media (max-width:1200px) {}

@media (max-width:768px) {}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.wrap {}

#header {
    background-color: #083B82;
    color: #fff;
}

#header .inner {
    max-width: 1200px;
}

#header .header_top {
    background-color: #fff;
    color: #202124;
    font-size: 1.4rem;
}

#header .header_top ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.6rem;
    padding: 0.8rem 0;
}

#header .header_bottom .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

#header .header_bottom h1 a img {
    height: 8rem;
}

#header .header_bottom ul {
    display: flex;
    gap: 3rem;
}

#header .header_bottom ul li {
    font-size: 1.8rem;
    font-weight: 700;
}


.MainVisual {
    position: relative;
}

.MainVisual .main_visual_slide {
    position: relative;
}

.MainVisual .main_visual_slide .itm {
    position: relative;
    height: 60rem;
    filter: brightness(0.4);
}

.MainVisual .main_visual_slide .itm01 {
    background: url(../images/main_visual_001.jpg) no-repeat center center/cover;
}

.MainVisual .main_visual_slide .itm02 {
    background: url(../images/main_visual_002.jpg) no-repeat center 80%/cover;
}

.MainVisual .main_visual_slide .itm03 {
    background: url(../images/main_visual_003.jpg) no-repeat center center/cover;
}

.MainVisual .main_visual_slide .itm04 {
    background: url(../images/main_visual_004.jpg) no-repeat center 70%/cover;
}

.MainVisual .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.MainVisual .visual_tab ul {
    display: flex;
}

.MainVisual .visual_tab ul li {
    display: block;
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    background: #999;
    color: #fff;
}

.MainVisual .visual_tab ul li:hover {
    display: block;
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    background: #fff;
    color: #202124;
}

.MainVisual .visual_tab ul li.on {
    display: block;
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    background: #fff;
    color: #202124;
}

.MainVisual .visual_tab .tab_content {
    background: #fff;
    padding: 3rem;
    width: 100%;
}

.MainVisual .visual_tab .tab_content .content {
    height: 0;
    visibility: hidden;
}

.MainVisual .visual_tab .tab_content .content.on {
    height: auto;
    visibility: visible;
}

.MainVisual .visual_tab .tab_content .__form {
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.MainVisual .visual_tab .tab_content .__form>* {
    flex: 1;
}

.MainVisual .visual_tab .tab_content .__form label {
    display: block;
    margin: 0 0 8px 0;
}

.MainVisual .visual_tab .tab_content .__form input,
.MainVisual .visual_tab .tab_content .__form button {
    width: 100%;
}

.MainVisual .visual_tab .tab_content .__form .submit {
    flex: 0 1 150px;
}

.MainVisual .visual_tab .tab_content .tab_left button {
    background: #083B82;
    border: none;
    color: #fff;
    height: 4rem;
    cursor: pointer;
    padding: 0 2rem;
}

.MainVisual .visual_tab .tab_content .tab_left input {
    padding: 0 2rem;
    text-align: left;
    border: none;
    border: 1px solid #ddd;
    height: 4rem;
    line-height: 2.4rem;
}

.MainVisual .visual_tab .tab_content .tab_right>* {
    display: flex;
    align-items: end;
}

.MainVisual .visual_tab .tab_content .tab_right button {
    background: #083B82;
    border: none;
    color: #fff;
    height: 4rem;
    cursor: pointer;
    padding: 0 2rem;
}

.MainVisual .visual_tab .tab_content .tab_right input {
    padding: 0 2rem;
    text-align: left;
    border: none;
    border: 1px solid #ddd;
    height: 4rem;
    line-height: 2.4rem;
}



.MainSlide {
    position: relative;
    color: #fff;
    overflow: hidden;
}

.MainSlide::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -20%;
    left: -15%;
    width: 100%;
    height: 100%;
    background: url(../images/korail_bg_w.png) no-repeat center center / contain;
    opacity: 0.05;
}

.MainSlide .inner {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.MainSlide .tit_area {
    background: #fff;
    border-radius: 1.2rem 0 0 1.2rem;
    color: #202124;
    flex: 0 0 300px;
    flex-direction: column;
    z-index: 999;
}

.MainSlide .tit_area h2 {
    font-size: 3.6rem;
    margin: 0 0 0.8rem 0;
}

.MainSlide .tit_area p {
    margin: 0 0 3.2rem 0;
}

.MainSlide .tit_area ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.MainSlide .tit_area ul li {
    font-size: 1.8rem;
    font-weight: 600;
}

.MainSlide .tit_area ul li.on {
    font-size: 1.8rem;
    font-weight: 600;
    color: #7BC04B;
}

.MainSlide .tit_area .arrows {
    display: flex;
    cursor: pointer;
}

/* .MainSlide .tit_area {
    flex: 0 0 300px;
} */

.MainSlide .tab_area {
    flex: 1;
    min-width: 0;
}

.MainSlide .tab_area .content {
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.MainSlide .tab_area .content.on {
    height: auto;
    visibility: visible;
}

.MainSlide .tab_area .sub_tab_inner {
    width: calc(100% + 100px);
}

.MainSlide .tab_area .sub_tab_inner figure {
    position: relative;
    margin: 0 1.6rem 0 0;
}

.MainSlide .tab_area .sub_tab_inner figure img {
    object-fit: cover;
    height: 30rem;
    width: 100%;
    border: none;
}

.MainSlide .tab_area .sub_tab_inner figure .txt_box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.8);
}

.MainSlide .tab_area .sub_tab_inner figure .txt_box strong {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 0 1.2rem 0;
}

.MainSlide .tab_area .sub_tab_inner figure .txt_box p {
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
}

@media (max-width:768px) {

    .MainSlide .inner {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .MainSlide .tit_area {}

    .MainSlide .tit_area ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.6rem;
    }

    .MainSlide .tab_area {}

    .MainSlide .tab_area .content {
        height: 0;
        visibility: hidden;
    }

    .MainSlide .tab_area .content.on {
        height: auto;
        visibility: visible;
    }

    .MainSlide .tab_area .sub_tab_inner {
        max-width: 89.4rem;
    }

    .MainSlide .tab_area .sub_tab_inner figure {
        margin: 0 1.6rem 0 0;
    }

    .MainSlide .tab_area .sub_tab_inner figure img {
        object-fit: cover;
        height: 30rem;
        border: none;
        border-radius: 2rem;
    }
}



.MainMenu {
    position: relative;
    overflow: hidden;
    background: #f9f9f9;
    z-index: -10;
}

.MainMenu::before {
    content: "";
    display: block;
    position: absolute;
    top: -20%;
    left: -15%;
    width: 100%;
    height: 100%;
    background: url(../images/korail_bg.png) no-repeat center center / contain;
    opacity: 0.02;
    z-index: -1;
}

.MainMenu .inner {
    display: flex;
    justify-content: space-between;
}

/* .MainMenu .inner::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 200px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
} */

.MainMenu .tit_area {
    text-align: left;
}

.MainMenu .list_area {
    display: flex;
    gap: 2rem;
}

.MainMenu .list_area figure {
    width: 24rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1.2rem;
    flex-direction: column;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
}

.MainMenu .list_area figure span {
    display: block;
    margin: 0 0 1.6rem 0;
    font-size: 5rem;
}

.MainMenu .list_area figure a {
    font-size: 2rem;
    font-weight: 600;
}

.MainMenu .list_area figure:hover {
    background: #083B82;
    color: #fff;
    transition: 0.3s;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.MainMenu .list_area figure.on {
    background: #083B82;
    color: #fff;
    transition: 0.3s;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

@media(max-width:768px) {

    .MainMenu .inner {
        display: flex;
        flex-direction: column;
    }

    .MainMenu .tit_area {
        text-align: center;
    }

    .MainMenu .list_area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5rem;
    }

    .MainMenu .list_area figure {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 1.2rem;
    }
}




.MainInfo {}

.MainInfo .inner {
    display: flex;
    gap: 4rem;
    position: relative;
}

.MainInfo .inner::after {
    content: "\e5cf";
    font-family: 'Material Symbols Outlined';
    display: block;
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    color: #fff;
    background-color: #e6e6e6;
}

.MainInfo .left_area {
    flex: 3;
}

.MainInfo .left_area .tit_area p {
    /* margin: 0 0 2.4rem 0; */
}

.MainInfo .left_area .info_tab {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.MainInfo .left_area .info_tab .txt_box {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainInfo .left_area .info_tab .bb {
    background: #ddd;
}

.MainInfo .left_area .info_tab .txt_box {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
}


.MainInfo .right_area {
    position: relative;
    flex: 2;
    overflow: hidden;
}

.MainInfo .right_area .info_slide .itm {
    position: relative;
    height: 32rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.MainInfo .right_area .info_slide .itm01 {
    background: url(../images/popup_001.jpg) center center/cover;
}

.MainInfo .right_area .info_slide .itm02 {
    background: url(../images/popup_002.png) center center/cover;
}

.MainInfo .right_area .info_slide .itm03 {
    background: url(../images/popup_003.png) center center/cover;
}

.MainInfo .right_area .info_slide .itm04 {
    background: url(../images/popup_004.jpg) center center/cover;
}

@media(max-width:768px) {
    .MainInfo {}

    .MainInfo .inner {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        text-align: center;
    }

    .MainInfo .left_area .info_tab {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }

    .MainInfo .left_area .info_tab .txt_box {
        height: 16rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e7e7e7;
    }

    .MainInfo .left_area .info_tab .bb {
        background: #f9f9f9;
    }

    .MainInfo .right_area {
        position: relative;
        overflow: hidden;
    }

    .MainInfo .right_area .info_slide .itm {
        position: relative;
        height: 32rem;
    }
}


.MainNotice {
    background: #f9f9f9;
}

.MainNotice .inner {
    display: flex;
    gap: 4rem;
}

.MainNotice .inner .tit_area {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.MainNotice .inner .left_movie {
    flex: 1;
}

.MainNotice .inner .right_tab {
    flex: 1;
}

.MainNotice .list {
    padding: 1.6rem 2rem;
    background: #fff;
    border-top: 1px solid #ddd;
}

.MainNotice .list>li {
    position: relative;
}

.MainNotice .list>li:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(221, 221, 221, 0.5);
}

.MainNotice .list>li>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    line-height: 4.4rem;
}

.MainNotice .list>li:hover>a {
    color: #083B82;
}

.MainNotice .list p {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.MainNotice .list span {
    font-size: 12px;
    color: #999;
}

@media (max-width:768px) {
    .MainNotice {
        align-items: center;
        justify-content: center;
    }

    .MainNotice .inner {
        display: flex;
        flex-direction: column;
    }
}




.footer {
    padding: 6rem 0;
    background: #083B82;
    color: #fff;
}

.footer .foot_wrap {
    display: grid;
    grid-template-columns: 172px 1fr;
    gap: 50px;
    justify-content: space-between;
}

.footer .foot_wrap .ft {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;
}

.footer .foot_wrap .ft::after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
}

.footer .foot_wrap .ft .foot_customer {
    display: flex;
    gap: 1.6rem;
    white-space: nowrap;
}

.footer .foot_wrap .ft .foot_customer li {
    position: relative;
}

.footer .foot_wrap .ft .foot_customer li:not(:first-child):after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background: #fff;
}

.footer .foot_wrap .ft .foot_customer li a {
    display: block;
}

.footer .foot_wrap .ft .foot_customer li strong {
    font-weight: 500;
    color: #7BC04B;
}

.footer .foot_wrap .fb {
    display: flex;
}

.footer .foot_wrap .fb .foot_address {
    margin: 0 0 0.6rem 0;
    font-size: 1.4rem;
}

.footer .foot_wrap .fb .foot_address li {
    position: relative;
    display: inline-block;
    margin: 0 18px 0 0;
    line-height: 20px;
}


.footer .foot_wrap .fb .copyright {
    font-size: 14px;
    color: #fff;
}

.footer .foot_wrap .fb #fl {
    outline: none;
    border: 1px solid #ddd;
    background: none;
    font-family: "Noto Sans Kr";
    font-size: 14px;
    padding: 4px 8px 5px 16px;
    color: #fff;
}

@media (max-width: 768px) {
    .footer {
        padding: 40px 0 70px 0;
    }

    .footer .foot_wrap {
        display: block;
    }

    .footer .foot_wrap h2 {
        text-align: center;
        margin: 0 0 24px 0;
    }

    .footer .foot_wrap .ft {
        display: block;
        margin: 0 0 64px 0;
    }

    .footer .foot_wrap .ft::after {
        bottom: -32px;
    }

    .footer .foot_wrap .ft .foot_customer {
        margin: 0 0 24px 0;
        gap: 24px;
        justify-content: center;
    }

    .footer .foot_wrap .ft .foot_customer>li:not(:first-child):after {
        left: -12px;
    }

    .footer .foot_wrap .ft .foot_customer>li a {
        white-space: nowrap;
    }

    .footer .foot_wrap .ft .foot_sns {
        justify-content: center;
    }

    .footer .foot_wrap .fb {
        display: block;
    }

    .footer .foot_wrap .fb .foot_address {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin: 0 0 16px 0;
    }

    .footer .foot_wrap .fb .copyright {
        font-size: 12px;
        margin: 0 0 32px 0;
    }

    .footer .foot_wrap .fb #fl {
        display: block;
        width: 100%;
    }
}



/*# sourceMappingURL=style.css.map */